@import '../../App.css';

/* Color classes */
.light-red {
  background-color: var(--color-light-red) !important;
}

.dark-red {
  background-color: var(--color-dark-red) !important;
}

/* Authentication container */
.auth-container {
  width: 50%;
  max-width: 450px;
  margin: 0 auto;
}

/* Error message */
.error-text {
  color: var(--color-dark-red);
  margin-top: 10px;
  text-align: center;
}

/* Login and Register sections */
.auth-section {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.auth-section p {
  font-size: 19px;
  color: var(--color-black-text);
  align-self: center;
}

.auth-button {
  align-self: flex-end;
}

/* Toggle buttons for switching between login and register */
.toggle-buttons {
  display: flex;
}

.toggle-buttons .custom-button {
  margin: 0;
  padding: 3% 10%;
  width: 50%;
  font-weight: 800;
}
