/* Container for the Authentication component */
.authentication {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

/* Buttons container */
.auth-buttons {
  display: flex;
  width: 100%;
}

.auth-buttons .custom-button {
  flex: 1;
  margin: 0;
}

/* Headings in Login and Register */
.authentication h1 {
  margin: 30px 0;
}

/* Form styling */
.authentication form {
  position: relative;
  padding-bottom: 60px; /* Space for the submit button */
}

/* Positioning of Sign In and Sign Up buttons */
.authentication form .SignIn-Button,
.authentication form .SignUp-Button {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Input fields styling */
.auth-input {
  margin-bottom: 15px;
}

/* Custom button styling */
.custom-button {
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
}
